/* ===================
===== BASE STYLES ====
======================
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
}

.content-head h2 {
  font-family: 'Inconsolata', monospace;
  color: #0055FF;
  font-weight: 900;
}
.content-head p {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 900;
  margin-bottom: 50px;
}

/* ===================
=====  NAV STYLES ====
======================
*/

.Nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 50px;
}

.Nav-area {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.Nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}


/* ===================
===== HOME STYLES ====
======================
*/

.home,
.about,
.portfolio {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.hi-content {
   width: 50%;
}
.hi-content h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  font-size: 2.8em;
  color: #0055FF;
}

.strong-span {
  font-weight: 900;
  font-family: 'Inconsolata', monospace;
  color: #0055FF;
}

.hi-content h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 34px;
  letter-spacing: 2px;
  color: whitesmoke;
  margin-top: 10%;
}

.hi-content p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: whitesmoke;
  margin-top: 10%;
}

.email {
  color: whitesmoke;
  margin-left: 1.4em;
  padding: 3px;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 #0055FF;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.email:hover {
  color: #e2e2e2;
  box-shadow: inset 0 -22px 0 #0055FF;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

/* ===================
===== ABOUT STYLES ===
======================
*/

.about-profile,
.about-skills {
  width: 45%; 
}

.about-descr_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-decr p,
.about-skills p {
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
}

.about-skills-descr h4 {
  color: white;
}
 
.about-skills h3 {
 font-family: 'Inconsolata', monospace;
  color: #0055FF;
  font-weight: 900;
}

.skill-icon-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-icon {
  color: white;
  font-size: 3.5em;
}


/* ===================
===== FOOTER STYLES ==
======================
*/

.portfolio {
  margin-top: 5%;
  margin-bottom: 5%;
}

.work-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6%;
}

.work-image {
  width: 40%;
  height: 350px;
  position: relative;
  box-shadow: 3px 3px 20px #000;
}

.work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-image__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(60, 58, 202, 0.2);
  transition: opacity 0.4s ease-in;
}

.work-description {
  width: 55%;
}

.work-description h1 {
  font-family: 'Inconsolata', monospace;
  color: #0055FF;
  font-weight: 900;
}

.work-description-text p {
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
}

.work-techstack {
  /* display: flex; */
}

.work-techstack ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.work-techstack p {
  font-weight: 900;
  font-family: 'Quicksand', sans-serif;
  color: #ccc;
}
.work-techstack li {
  color: #ccc;
  font-family: 'Quicksand' sans-serif;
  font-size: 0.6em;
  border: 1px solid #0055FF;
  border-radius: 5px;
  padding: 8px;
  margin-right: 15px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

/* ===================
===== FOOTER STYLES ==
======================
*/

.footer-social-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 50px;
}

.social-link {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
}

.footer-copyright p {
  color: white;
}